// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: rgb(96, 109, 55),
    200: rgb(80, 95, 47),
    300: rgb(66, 80, 39),
    400: rgb(52, 67, 32),
    500: rgb(39, 53, 24),
  ),
  secondary: (
    100: rgb(221, 162, 95),
    200: rgb(213, 148, 80),
    300: rgb(204, 135, 66),
    400: rgb(196, 121, 51),
    500: rgb(187, 107, 37),
  ),
  neutral: (
    100: rgb(254, 250, 225),
    200: rgb(225, 220, 198),
    300: rgb(196, 190, 171),
    400: rgb(168, 162, 146),
    500: rgb(140, 134, 121),
    600: rgb(113, 108, 97),
    700: rgb(87, 82, 74),
    800: rgb(62, 58, 52),
    900: rgb(39, 36, 32),
  ),
  dark: (
    100: rgb(24, 23, 22),
  ),
);
