// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

/* Base Palette */
$pakistan-green: rgba(40, 54, 24, 1);
$gamboge: rgba(240, 162, 2, 1);
$tangerine: rgba(241, 136, 5, 1);
$cinnabar: rgba(217, 93, 57, 1);
$cambridge-blue: rgba(123, 158, 135, 1);

$colors: (
  primary: (100: lighten(desaturate($pakistan-green, 10%), 15%),
    200: lighten(desaturate($pakistan-green, 15%), 25%),
    300: $pakistan-green,
    400: darken(saturate($pakistan-green, 12%), 8%),
    500: darken(saturate($tangerine, 18%), 15%),
  ),
  secondary: (100: lighten(desaturate($tangerine, 10%), 5%),
    200: lighten(desaturate($tangerine, 15%), 10%),
    300: $tangerine,
    400: darken(saturate($tangerine, 12%), 10%),
    500: darken(saturate($tangerine, 18%), 20%),
  ),
  tertiary: (gamboge: $gamboge,
    cinnabar: $cinnabar,
    cambridge: $cambridge-blue ),
  neutral: (100: rgb(251, 248, 241),
    200: rgb(238, 233, 221),
    300: rgb(213, 206, 190),
    400: rgb(188, 179, 160),
    500: rgb(162, 152, 131),
    600: rgb(134, 124, 103),
    700: rgb(106, 97, 77),
    800: rgb(77, 70, 54),
    900: rgb(48, 43, 32),
  ),
  dark: (100: rgb(24, 23, 22),
  ),
);