---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="404">
  <div class="w-3/4 container content-center">
    <section class="my-10">
      <div class="container">
        <h1>Oops!</h1>
      </div>
    </section>
    <section class="my-10">
      <div class="space-content container">
        <p class="text-2xl">We couldn't find the page you were looking for.</p>
        <a class="button" href="/">Let's get you back home</a>
      </div>
    </section>
  </div>
</DefaultLayout>
