---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import ContentMedia from '../components/ContentMedia.astro'
import { Card } from 'accessible-astro-components'
import { Image } from 'astro:assets'

const posts = await Astro.glob('../content/blog/*.md')
const sortedPosts = posts.sort((a: any, b: any) => {
  return new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime()
})

const latestPosts = sortedPosts.slice(0, 3).map((post: any) => ({
  ...post.frontmatter,
  content: post.compiledContent(),
  url: `/blog/${post.frontmatter.slug || post.file.split('/').pop().replace('.md', '')}`,
  slug: post.frontmatter.slug || post.file.split('/').pop().replace('.md', ''),
}))
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-32" aria-label="Our Origin">
    <div class="container">
      <ContentMedia imgSrc="/studio-team.webp" imgSide="right">
        <h2 class="text-5xl italic">Hi there!</h2>
        <p class="text-xl">We're Skyborn Studios, a small team of passionate game developers from Sacramento, CA.</p>
        <p class="text-xl">
          We're building the games for the love of it, telling stories we want to tell. We're not here to make a quick
          buck, we're here to make games that we want to play.
        </p>
        <p class="text-xl">
          Follow along as we build our first game, <a href="/games/cirrus" class="italic">Cirrus</a>.
        </p>
      </ContentMedia>
    </div>
  </section>

  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Our Values</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-3">
        <Feature icon="mdi:heart" title="Player First">
          [Lorem ipsum dolor sit amet, consectetur adipiscing elit. ]
        </Feature>
        <Feature icon="mdi:lightbulb" title="Innovation">
          [Lorem ipsum dolor sit amet, consectetur adipiscing elit. ]
        </Feature>
        <Feature icon="mdi:star" title="Quality"> [Lorem ipsum dolor sit amet, consectetur adipiscing elit. ] </Feature>
      </div>
    </div>
  </section>

  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Development Blog</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-3">
        {
          latestPosts.map((post) => (
            <div class="space-content">
              <Image src={post.thumbnail} alt="Blog post thumbnail" width={800} height={400} class="mb-4 rounded-lg" />
              <h3 class="text-2xl">{post.title}</h3>
              <p>{post.excerpt}</p>
              <a href={post.url} class="button button-ghost mt-4">
                Read More
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</DefaultLayout>
