---
/// <reference types="astro/astro-jsx" />
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import ContentMedia from '../components/ContentMedia.astro'
import { Image } from 'astro:assets'

const posts = await Astro.glob('../content/blog/*.md')

const latestPosts = posts.slice(0, 5).map((post: any) => ({
  ...post.frontmatter,
  content: post.compiledContent(),
  url: `/blog/${post.frontmatter.slug || post.file.split('/').pop().replace('.md', '')}`,
  slug: post.frontmatter.slug || post.file.split('/').pop().replace('.md', ''),
}))
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-16" aria-label="Our Origin">
    <div class="container">
      <ContentMedia
        imgSrc="https://res.cloudinary.com/dxwistw0r/image/upload/v1738302326/landing-image_xfzb72.png"
        imgSide="right"
      >
        <h2 class="text-4xl italic">Hi there!</h2>
        <p class="text-xl md:text-2xl">
          We're Skyborn Studios, a small team of passionate game developers from Sacramento, CA.
        </p>
        <p class="text-xl md:text-2xl">
          We're building the games for the love of it, telling stories we want to tell. We're not here to make a quick
          buck, we're here to make games that we want to play.
        </p>
        <p class="text-xl md:text-2xl">
          Follow along as we build our first game, <a href="/games/cirrus" class="italic">Cirrus</a>.
        </p>
      </ContentMedia>
    </div>
  </section>

  <section class="my-16" aria-label="Join Our Journey">
    <div class="container text-center">
      <h2 class="text-4xl">Join Our Journey</h2>
      <p class="mx-2 mx-auto mt-8 max-w-[32rem] text-left md:text-center text-xl md:text-2xl">
        We're building in the open! Come read our development log if you're curious about how we're building Cirrus 😊
      </p>
      <p class="mx-2 mx-auto mt-8 max-w-[32rem] text-left md:text-center text-xl md:text-2xl">
        We've got a community Discord in the works, but it's not ready yet. Come back soon to check when it's ready!
      </p>
      <div class="mt-12 flex justify-center gap-6">
        <!-- <a href="/discord" class="button button-ghost flex items-center gap-3">
          <span class="i-mdi-discord text-2xl"></span>
          Discord Community
        </a> -->
        <a href="/blog" aria-label="Development Blog" class="button"> View Development Blog </a>
      </div>
    </div>
  </section>

  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-4xl text-center">Development Blog</h2>
      <p class="mb-16 text-xl md:text-2xl">
        This is a list of our latest blog posts. We'll be posting updates on our development progress here, feel free to
        read along!
      </p>
      <div id="blog-grid" class="grid grid-cols-1 gap-12 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
        {
          latestPosts.map((post) => {
            return (
              <div class="space-content post-item hidden">
                <Image src={post.thumbnail} alt="Blog post thumbnail" inferSize class="mb-4 rounded-lg" />
                <h3 class="text-2xl">{post.title}</h3>
                <p>{post.excerpt}</p>
                <a href={post.url} class="button button-ghost mt-4">
                  Read More
                </a>
              </div>
            )
          })
        }
      </div>
    </div>
  </section>
</DefaultLayout>

<script>
  function updateVisiblePosts() {
    const grid = document.getElementById('blog-grid')
    if (!grid) return
    const posts = grid.querySelectorAll('.post-item')
    const computedStyle = window.getComputedStyle(grid)
    const columns = computedStyle.gridTemplateColumns.split(' ').length

    posts.forEach((post, index) => {
      if (index < columns) {
        post.classList.remove('hidden')
      } else {
        post.classList.add('hidden')
      }
    })
  }

  window.addEventListener('resize', updateVisiblePosts)
  window.addEventListener('load', updateVisiblePosts)
</script>
