---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Icon } from 'astro-icon/components'
---

<DefaultLayout title="Join Us">
  <section class="my-12 md:my-32">
    <div class="container">
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 md:gap-24">
        <div class="space-content">
          <h1 class="text-4xl font-bold md:text-6xl">Join Our Community</h1>
          <p class="text-xl md:text-2xl">
            Stay up to date with our latest games, blog posts and announcements by subscribing to our newsletter or
            following us on social media.
          </p>

          <div class="mt-12 space-y-12">
            <form class="space-y-6" action="#" method="POST">
              <div>
                <label for="email" class="block text-lg font-medium">Email Address</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="focus:ring-action-color focus:border-action-color w-full rounded-lg border border-neutral-300 p-3 transition-colors focus:ring-2"
                  placeholder="you@example.com"
                  required
                />
              </div>
              <button type="submit" class="button"> Subscribe to Newsletter </button>
            </form>

            <div class="space-y-6">
              <h2 class="text-2xl font-bold">Follow Us</h2>
              <div class="flex gap-4">
                <a href="#" class="hover:bg-neutral-background rounded-lg p-3 transition-colors duration-300">
                  <button class="button">
                    <span class="sr-only">Twitter</span>
                    <Icon name="mdi:twitter" class="h-8 w-8" />
                  </button>
                </a>
                <a href="#" class="hover:bg-neutral-background rounded-lg p-3 transition-colors duration-300">
                  <button class="button">
                    <span class="sr-only">Discord</span>
                    <Icon name="mdi:discord" class="h-8 w-8" />
                  </button>
                </a>
                <a href="#" class="hover:bg-background rounded-lg p-3 transition-colors duration-300">
                  <button class="button">
                    <span class="sr-only">GitHub</span>
                    <Icon name="mdi:github" class="h-8 w-8" />
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="hidden md:block">
          <img src="" alt="Fun illustration" class="h-auto w-full rounded-lg" />
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>
