---
import { Image } from 'astro:assets'
const { imgSrc, imgAlt = '', fallbackImgSrc = '/image/fallback-gato_muestra.gif' } = Astro.props
---

<div class="container flex items-center justify-center">
  <Image class="content-media-img m-auto rounded-lg" src={imgSrc} alt={imgAlt} inferSize />
</div>

<script define:vars={{ fallbackImgSrc, imgSrc }} is:inline>
  document.querySelector('.content-media-img')?.addEventListener('error', () => {
    if (fallbackImgSrc) {
      document.querySelector('.content-media-img').src = fallbackImgSrc
    }
  })
</script>

<style>
  .content-media-img {
    object-fit: contain;
    height: 100%;
    max-height: 60vh;
    width: 100%;
  }
</style>
