---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; Skyborn Studios - Copyright {currentYear}. Made with ❤️ by Jared Guzman.
      </p>
    </div>
  </section>
</footer>
