---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
---

<header class="start-0 top-0 z-20 w-full shadow-md">
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/games/">Games</a>
    </li>
    <li class="menu-item">
      <a href="/join/">Join</a>
    </li>
    <li class="menu-item">
      <a href="/blog/">Blog</a>
    </li>
    <!-- <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Example Pages</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/markdown-page, mdx-page, accessible-components/">Markdown Page</a>
        </li>
      </ul>
    </li> -->
    <li class="menu-item">
      <a
        href="https://buymeacoffee.com/skybornstudios"
        title="support us link"
        target="_blank"
        rel="external noopener noreferrer">Support Us</a
      >
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    background-color: var(--background);
    .type-icon a {
      display: block;

      [data-icon] {
        height: auto;
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
